<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h2 class="font-weight-bold">Welcome to our Smart Contact Manager!</h2>
            <p>In today's fast-paced world, managing your contacts has never been more critical.<br>
                Whether you're a busy professional, an entrepreneur, 
                or just someone who values their connections, <br>
                a Smart Contact Manager is your secret weapon for streamlined communication 
                and relationship building.
            </p>
            <button class="btn btn-primary btn-warning text-white font-weight-bold" onclick="window.location.href='signup'">Get Started</button>
            
        </div>
    </section>
    
</body>
</html>